<html>
  <head>
    <title>{{.title}}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>


    <style>
      .container{
        width: 330px;
        margin:0 auto;
      }
      .bar {
        background:#3F51B5
      }

      .todo-list{
        width: 330px;
      }
      .todo-list-table{
        width: 100%;
      }
      .create-button{
        margin:-20px 10 auto auto;
      }
    </style>

  </head>
  <body>
    <div class="container mdl-shadow--2dp">
      <!-- Menu header -->
      <div class="bar">
        <button id="demo-menu-lower-left"
                class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-left">
            <a href="/todo">
              <li class="mdl-menu__item"> Todo List</li>
            </a>

            <a href="/user">
              <li disabled class="mdl-menu__item"> User Management</li>
            </a>

        </ul>
      </div>

      <div class=" mdl-layout mdl-js-layout mdl-color--grey-100 todo-list">
        <div class="mdl-layout mdl-js-layout ">
          <table class="todo-list-table mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
            <thead>
              <tr>
                <td class="mdl-data-table__cell--non-numeric" colspan="3">USERS</td>
              </tr>
              <tr>
                <th>Id</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
              </tr>
            </thead>
            <tbody>
              {{range .userList}}
              <tr>
                <td>{{.Id}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <a href="/user/detail/{{.Id}}">{{.Name}}</a>
                </td>
              <td>{{.Email}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
          <button class="create-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored" onclick="location.href='/user/new'">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </div>


  </body>
</html>
